<body>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <button class="btn" onclick="window.location.reload()">Play</button>
    <div id="background"></div>
    <div id="terminal"></div>

    <footer>
        <ul>
            <li>
                <a href="https://github.com/LewisBull2303/CL_P3_One_Piece_Quiz" target="_blank" rel="noopener" aria-label="View the project on GitHub"><i class="fa-brands fa-github"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/l._.bull/" target="_blank" rel="noopener" aria-label="View my Instagram"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/lewis-bull-3a465a229/" target="_blank" rel="noopener" aria-label="View my LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
    </footer>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>